<a href="https://colab.research.google.com/github/SharonCao0920/AI/blob/main/CS483_Lab_7_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.Pickle
from google.colab import drive
drive.mount('/content/drive')
# mount '/content/drive' to virtual machine directory for google colab user
#below where the file is in gdrive, change with your
data_path="/content/drive/My Drive/Colab Notebooks/"

import pickle

dogs_dict={'Ozzy':3,'Filou':8,'Luna':5,'Skippy':10,'Barco':12,'Balou':9,'Laika':16}
filename='dogs'
outfile=open(data_path+filename,'wb')# b: binary
pickle.dump(dogs_dict,outfile)
outfile.close()# File "dogs" will be created in your google drive

infile=open(data_path+filename,'rb')
new_dict=pickle.load(infile)
infile.close()

print(new_dict)
print(new_dict==dogs_dict)
print(type(new_dict))

import bz2# Compressing pickle files

sfile=bz2.BZ2File(data_path+'smallerfile','w')
pickle.dump(dogs_dict,sfile) # zipped file "smallerfile" will be in your google drive

infile=open(data_path+filename,'rb')
new_dict=pickle.load(infile,encoding='latin1')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
{'Ozzy': 3, 'Filou': 8, 'Luna': 5, 'Skippy': 10, 'Barco': 12, 'Balou': 9, 'Laika': 16}
True
<class 'dict'>

In [ ]:
#2.Get dataset from website
!pip install quandl
import quandl
import pandas as pd

# Access to https://www.quandl.com/ 
# Create account and then you will get your own api key 
# DON'T USE MY API KEY 

api_key='Z-qC5urgjTmL7MTUeLkq'
df=quandl.get("FMAC/HPI_TX",authtoken=api_key)
print(df.head())

fiddy_states=pd.read_html('https://simple.wikipedia.org/wiki/List_of_U.S._states')
print('***********************************************')
print(fiddy_states)
print('***********************************************')
print(fiddy_states[0])

/bin/bash: pip install quandl: command not found
            NSA Value   SA Value
Date
1975-01-31  32.833035  32.818733
1975-02-28  32.967332  32.942274
1975-03-31  33.418888  33.298538
1975-04-30  34.193416  34.029014
1975-05-31  34.393515  34.168357
***********************************************
[   Name &postal abbs. [1]                          Unnamed: 2_level_0  \
   Name &postal abbs. [1] Name &postal abbs. [1].1 Unnamed: 2_level_1
0                 Alabama                      NaN                 AL
1                  Alaska                      NaN                 AK
2                 Arizona                      NaN                 AZ
3                Arkansas                      NaN                 AR
4              California                      NaN                 CA
5                Colorado                      NaN                 CO
6             Connecticut                      NaN                 CT
7                Delaware                      NaN                 DE
8                 Florida                      NaN                 FL
9                 Georgia                      NaN                 GA
10                 Hawaii                      NaN                 HI
11                  Idaho                      NaN                 ID
12               Illinois                      NaN                 IL
13                Indiana                      NaN                 IN
14                   Iowa                      NaN                 IA
15                 Kansas                      NaN                 KS
16            Kentucky[C]                      NaN                 KY
17              Louisiana                      NaN                 LA
18                  Maine                      NaN                 ME
19               Maryland                      NaN                 MD
20       Massachusetts[C]                      NaN                 MA
21               Michigan                      NaN                 MI
22              Minnesota                      NaN                 MN
23            Mississippi                      NaN                 MS
24               Missouri                      NaN                 MO
25                Montana                      NaN                 MT
26               Nebraska                      NaN                 NE
27                 Nevada                      NaN                 NV
28          New Hampshire                      NaN                 NH
29             New Jersey                      NaN                 NJ
30             New Mexico                      NaN                 NM
31               New York                      NaN                 NY
32         North Carolina                      NaN                 NC
33           North Dakota                      NaN                 ND
34                   Ohio                      NaN                 OH
35               Oklahoma                      NaN                 OK
36                 Oregon                      NaN                 OR
37        Pennsylvania[C]                      NaN                 PA
38           Rhode Island                      NaN                 RI
39         South Carolina                      NaN                 SC
40           South Dakota                      NaN                 SD
41              Tennessee                      NaN                 TN
42                  Texas                      NaN                 TX
43                   Utah                      NaN                 UT
44                Vermont                      NaN                 VT
45            Virginia[C]                      NaN                 VA
46             Washington                      NaN                 WA
47          West Virginia                      NaN                 WV
48              Wisconsin                      NaN                 WI
49                Wyoming                      NaN                 WY

            Cities                            Established[A] Population[B][3]  \
           Capital Largest (by population)[5] Established[A] Population[B][3]
0       Montgomery                 Birmingham   Dec 14, 1819          4903185
1           Juneau                  Anchorage    Jan 3, 1959           731545
2          Phoenix                    Phoenix   Feb 14, 1912          7278717
3      Little Rock                Little Rock   Jun 15, 1836          3017804
4       Sacramento                Los Angeles    Sep 9, 1850         39512223
5           Denver                     Denver    Aug 1, 1876          5758736
6         Hartford                 Bridgeport    Jan 9, 1788          3565278
7            Dover                 Wilmington    Dec 7, 1787           973764
8      Tallahassee               Jacksonville    Mar 3, 1845         21477737
9          Atlanta                    Atlanta    Jan 2, 1788         10617423
10        Honolulu                   Honolulu   Aug 21, 1959          1415872
11           Boise                      Boise    Jul 3, 1890          1787065
12     Springfield                    Chicago    Dec 3, 1818         12671821
13    Indianapolis               Indianapolis   Dec 11, 1816          6732219
14      Des Moines                 Des Moines   Dec 28, 1846          3155070
15          Topeka                    Wichita   Jan 29, 1861          2913314
16       Frankfort                 Louisville    Jun 1, 1792          4467673
17     Baton Rouge                New Orleans   Apr 30, 1812          4648794
18         Augusta                   Portland   Mar 15, 1820          1344212
19       Annapolis                  Baltimore   Apr 28, 1788          6045680
20          Boston                     Boston    Feb 6, 1788          6892503
21         Lansing                    Detroit   Jan 26, 1837          9986857
22        St. Paul                Minneapolis   May 11, 1858          5639632
23         Jackson                    Jackson   Dec 10, 1817          2976149
24  Jefferson City                Kansas City   Aug 10, 1821          6137428
25          Helena                   Billings    Nov 8, 1889          1068778
26         Lincoln                      Omaha    Mar 1, 1867          1934408
27     Carson City                  Las Vegas   Oct 31, 1864          3080156
28         Concord                 Manchester   Jun 21, 1788          1359711
29         Trenton                     Newark   Dec 18, 1787          8882190
30        Santa Fe                Albuquerque    Jan 6, 1912          2096829
31          Albany                   New York   Jul 26, 1788         19453561
32         Raleigh                  Charlotte   Nov 21, 1789         10488084
33        Bismarck                      Fargo    Nov 2, 1889           762062
34        Columbus                   Columbus    Mar 1, 1803         11689100
35   Oklahoma City              Oklahoma City   Nov 16, 1907          3956971
36           Salem                   Portland   Feb 14, 1859          4217737
37      Harrisburg               Philadelphia   Dec 12, 1787         12801989
38      Providence                 Providence   May 29, 1790          1059361
39        Columbia                 Charleston   May 23, 1788          5148714
40          Pierre                Sioux Falls    Nov 2, 1889           884659
41       Nashville                  Nashville    Jun 1, 1796          6829174
42          Austin                    Houston   Dec 29, 1845         28995881
43  Salt Lake City             Salt Lake City    Jan 4, 1896          3205958
44      Montpelier                 Burlington    Mar 4, 1791           623989
45        Richmond             Virginia Beach   Jun 25, 1788          8535519
46         Olympia                    Seattle   Nov 11, 1889          7614893
47      Charleston                 Charleston   Jun 20, 1863          1792147
48         Madison                  Milwaukee   May 29, 1848          5822434
49        Cheyenne                   Cheyenne   Jul 10, 1890           578759

   Total area[4]          Land area[4]          Water area[4]          \
             mi2      km2          mi2      km2           mi2     km2
0          52420   135767        50645   131171          1775    4597
1         665384  1723337       570641  1477953         94743  245384
2         113990   295234       113594   294207           396    1026
3          53179   137732        52035   134771          1143    2961
4         163695   423967       155779   403466          7916   20501
5         104094   269601       103642   268431           452    1170
6           5543    14357         4842    12542           701    1816
7           2489     6446         1949     5047           540    1399
8          65758   170312        53625   138887         12133   31424
9          59425   153910        57513   148959          1912    4951
10         10932    28313         6423    16635          4509   11678
11         83569   216443        82643   214045           926    2398
12         57914   149995        55519   143793          2395    6202
13         36420    94326        35826    92789           593    1537
14         56273   145746        55857   144669           416    1077
15         82278   213100        81759   211754           520    1346
16         40408   104656        39486   102269           921    2387
17         52378   135659        43204   111898          9174   23761
18         35380    91633        30843    79883          4537   11750
19         12406    32131         9707    25142          2699    6990
20         10554    27336         7800    20202          2754    7134
21         96714   250487        56539   146435         40175  104052
22         86936   225163        79627   206232          7309   18930
23         48432   125438        46923   121531          1508    3907
24         69707   180540        68742   178040           965    2501
25        147040   380831       145546   376962          1494    3869
26         77348   200330        76824   198974           524    1356
27        110572   286380       109781   284332           791    2048
28          9349    24214         8953    23187           397    1027
29          8723    22591         7354    19047          1368    3544
30        121590   314917       121298   314161           292     757
31         54555   141297        47126   122057          7429   19240
32         53819   139391        48618   125920          5201   13471
33         70698   183108        69001   178711          1698    4397
34         44826   116098        40861   105829          3965   10269
35         69899   181037        68595   177660          1304    3377
36         98379   254799        95988   248608          2391    6191
37         46054   119280        44743   115883          1312    3397
38          1545     4001         1034     2678           511    1324
39         32020    82933        30061    77857          1960    5076
40         77116   199729        75811   196350          1305    3379
41         42144   109153        41235   106798           909    2355
42        268596   695662       261232   676587          7365   19075
43         84897   219882        82170   212818          2727    7064
44          9616    24906         9217    23871           400    1035
45         42775   110787        39490   102279          3285    8508
46         71298   184661        66456   172119          4842   12542
47         24230    62756        24038    62259           192     497
48         65496   169635        54158   140268         11339   29367
49         97813   253335        97093   251470           720    1864

   Numberof Reps.
   Numberof Reps.
0               7
1               1
2               9
3               4
4              53
5               7
6               5
7               1
8              27
9              14
10              2
11              2
12             18
13              9
14              4
15              4
16              6
17              6
18              2
19              8
20              9
21             14
22              8
23              4
24              8
25              1
26              3
27              4
28              2
29             12
30              3
31             27
32             13
33              1
34             16
35              5
36              5
37             18
38              2
39              7
40              1
41              9
42             36
43              4
44              1
45             11
46             10
47              3
48              8
49              1  ]
***********************************************
   Name &postal abbs. [1]                          Unnamed: 2_level_0  \
   Name &postal abbs. [1] Name &postal abbs. [1].1 Unnamed: 2_level_1
0                 Alabama                      NaN                 AL
1                  Alaska                      NaN                 AK
2                 Arizona                      NaN                 AZ
3                Arkansas                      NaN                 AR
4              California                      NaN                 CA
5                Colorado                      NaN                 CO
6             Connecticut                      NaN                 CT
7                Delaware                      NaN                 DE
8                 Florida                      NaN                 FL
9                 Georgia                      NaN                 GA
10                 Hawaii                      NaN                 HI
11                  Idaho                      NaN                 ID
12               Illinois                      NaN                 IL
13                Indiana                      NaN                 IN
14                   Iowa                      NaN                 IA
15                 Kansas                      NaN                 KS
16            Kentucky[C]                      NaN                 KY
17              Louisiana                      NaN                 LA
18                  Maine                      NaN                 ME
19               Maryland                      NaN                 MD
20       Massachusetts[C]                      NaN                 MA
21               Michigan                      NaN                 MI
22              Minnesota                      NaN                 MN
23            Mississippi                      NaN                 MS
24               Missouri                      NaN                 MO
25                Montana                      NaN                 MT
26               Nebraska                      NaN                 NE
27                 Nevada                      NaN                 NV
28          New Hampshire                      NaN                 NH
29             New Jersey                      NaN                 NJ
30             New Mexico                      NaN                 NM
31               New York                      NaN                 NY
32         North Carolina                      NaN                 NC
33           North Dakota                      NaN                 ND
34                   Ohio                      NaN                 OH
35               Oklahoma                      NaN                 OK
36                 Oregon                      NaN                 OR
37        Pennsylvania[C]                      NaN                 PA
38           Rhode Island                      NaN                 RI
39         South Carolina                      NaN                 SC
40           South Dakota                      NaN                 SD
41              Tennessee                      NaN                 TN
42                  Texas                      NaN                 TX
43                   Utah                      NaN                 UT
44                Vermont                      NaN                 VT
45            Virginia[C]                      NaN                 VA
46             Washington                      NaN                 WA
47          West Virginia                      NaN                 WV
48              Wisconsin                      NaN                 WI
49                Wyoming                      NaN                 WY

            Cities                            Established[A] Population[B][3]  \
           Capital Largest (by population)[5] Established[A] Population[B][3]
0       Montgomery                 Birmingham   Dec 14, 1819          4903185
1           Juneau                  Anchorage    Jan 3, 1959           731545
2          Phoenix                    Phoenix   Feb 14, 1912          7278717
3      Little Rock                Little Rock   Jun 15, 1836          3017804
4       Sacramento                Los Angeles    Sep 9, 1850         39512223
5           Denver                     Denver    Aug 1, 1876          5758736
6         Hartford                 Bridgeport    Jan 9, 1788          3565278
7            Dover                 Wilmington    Dec 7, 1787           973764
8      Tallahassee               Jacksonville    Mar 3, 1845         21477737
9          Atlanta                    Atlanta    Jan 2, 1788         10617423
10        Honolulu                   Honolulu   Aug 21, 1959          1415872
11           Boise                      Boise    Jul 3, 1890          1787065
12     Springfield                    Chicago    Dec 3, 1818         12671821
13    Indianapolis               Indianapolis   Dec 11, 1816          6732219
14      Des Moines                 Des Moines   Dec 28, 1846          3155070
15          Topeka                    Wichita   Jan 29, 1861          2913314
16       Frankfort                 Louisville    Jun 1, 1792          4467673
17     Baton Rouge                New Orleans   Apr 30, 1812          4648794
18         Augusta                   Portland   Mar 15, 1820          1344212
19       Annapolis                  Baltimore   Apr 28, 1788          6045680
20          Boston                     Boston    Feb 6, 1788          6892503
21         Lansing                    Detroit   Jan 26, 1837          9986857
22        St. Paul                Minneapolis   May 11, 1858          5639632
23         Jackson                    Jackson   Dec 10, 1817          2976149
24  Jefferson City                Kansas City   Aug 10, 1821          6137428
25          Helena                   Billings    Nov 8, 1889          1068778
26         Lincoln                      Omaha    Mar 1, 1867          1934408
27     Carson City                  Las Vegas   Oct 31, 1864          3080156
28         Concord                 Manchester   Jun 21, 1788          1359711
29         Trenton                     Newark   Dec 18, 1787          8882190
30        Santa Fe                Albuquerque    Jan 6, 1912          2096829
31          Albany                   New York   Jul 26, 1788         19453561
32         Raleigh                  Charlotte   Nov 21, 1789         10488084
33        Bismarck                      Fargo    Nov 2, 1889           762062
34        Columbus                   Columbus    Mar 1, 1803         11689100
35   Oklahoma City              Oklahoma City   Nov 16, 1907          3956971
36           Salem                   Portland   Feb 14, 1859          4217737
37      Harrisburg               Philadelphia   Dec 12, 1787         12801989
38      Providence                 Providence   May 29, 1790          1059361
39        Columbia                 Charleston   May 23, 1788          5148714
40          Pierre                Sioux Falls    Nov 2, 1889           884659
41       Nashville                  Nashville    Jun 1, 1796          6829174
42          Austin                    Houston   Dec 29, 1845         28995881
43  Salt Lake City             Salt Lake City    Jan 4, 1896          3205958
44      Montpelier                 Burlington    Mar 4, 1791           623989

In [ ]:
!pip install --upgrade quandl
!pip install --upgrade jhtalib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting quandl
  Downloading Quandl-3.7.0-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from quandl) (1.15.0)
Collecting inflection>=0.3.1
  Downloading inflection-0.5.1-py2.py3-none-any.whl (9.5 kB)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.7/dist-packages (from quandl) (2.23.0)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.3.5)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.7/dist-packages (from quandl) (8.13.0)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.21.6)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from quandl) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.14->quandl) (2022.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2022.6.15)
Installing collected packages: inflection, quandl
Successfully installed inflection-0.5.1 quandl-3.7.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting jhtalib
  Downloading jhTAlib-20201228.0-py3-none-any.whl (44 kB)
     |████████████████████████████████| 44 kB 2.9 MB/s
Installing collected packages: jhtalib
Successfully installed jhtalib-20201228.0

In [ ]:
# Question 2

import pandas as pd

url='https://github.com/codebasics/py/blob/master/pandas/1_intro/nyc_weather.csv'#
nyc_weather=pd.read_html('https://github.com/codebasics/py/blob/master/pandas/1_intro/nyc_weather.csv')
print('*********************nyc_weather**************************')
print(nyc_weather)
df=pd.read_csv(url, error_bad_lines=False)
print(df)

# Save file to your google drive
from google.colab import drive
drive.mount("/content/drive", force_remount=True)
data_path="/content/drive/MyDrive/Colab Notebooks/"

with open(data_path+'nyc_weather.csv','w') as f:
  df.to_csv(f)

# df=pd.read_csv(data_path+'nyc_weather.csv')
# print('\nnyc_weather.csv from my drive\n',df.head())

#print(nyc_weather)
url='https://github.com/vega/vega/blob/main/docs/data/seattle-weather.csv'
weather=pd.read_html('https://github.com/vega/vega/blob/main/docs/data/seattle-weather.csv')
print('*********************weather**************************')
print(weather)
df=pd.read_csv(url, error_bad_lines=False)
print(df)
with open(data_path+'weather.csv','w') as f:
  df.to_csv(f)

*********************nyc_weather**************************
[    Unnamed: 0        EST  Temperature  DewPoint  Humidity  \
0          NaN   1/1/2016           38        23        52
1          NaN   1/2/2016           36        18        46
2          NaN   1/3/2016           40        21        47
3          NaN   1/4/2016           25         9        44
4          NaN   1/5/2016           20        -3        41
5          NaN   1/6/2016           33         4        35
6          NaN   1/7/2016           39        11        33
7          NaN   1/8/2016           39        29        64
8          NaN   1/9/2016           44        38        77
9          NaN  1/10/2016           50        46        71
10         NaN  1/11/2016           33         8        37
11         NaN  1/12/2016           35        15        53
12         NaN  1/13/2016           26         4        42
13         NaN  1/14/2016           30        12        47
14         NaN  1/15/2016           43        31        62
15         NaN  1/16/2016           47        37        70
16         NaN  1/17/2016           36        23        66
17         NaN  1/18/2016           25         6        53
18         NaN  1/19/2016           22         3        42
19         NaN  1/20/2016           32        15        49
20         NaN  1/21/2016           31        11        45
21         NaN  1/22/2016           26         6        41
22         NaN  1/23/2016           26        21        78
23         NaN  1/24/2016           28        11        53
24         NaN  1/25/2016           34        18        54
25         NaN  1/26/2016           43        29        56
26         NaN  1/27/2016           41        22        45
27         NaN  1/28/2016           37        20        51
28         NaN  1/29/2016           36        21        50
29         NaN  1/30/2016           34        16        46
30         NaN  1/31/2016           46        28        52

    Sea Level PressureIn  VisibilityMiles  WindSpeedMPH PrecipitationIn  \
0                  30.03               10           8.0               0
1                  30.02               10           7.0               0
2                  29.86               10           8.0               0
3                  30.05               10           9.0               0
4                  30.57               10           5.0               0
5                  30.50               10           4.0               0
6                  30.28               10           2.0               0
7                  30.20               10           4.0               0
8                  30.16                9           8.0               T
9                  29.59                4           NaN             1.8
10                 29.92               10           NaN               0
11                 29.85               10           6.0               T
12                 29.94               10          10.0               0
13                 29.95               10           5.0               T
14                 29.82                9           5.0               T
15                 29.52                8           7.0            0.24
16                 29.78                8           6.0            0.05
17                 29.83                9          12.0               T
18                 30.03               10          11.0               0
19                 30.13               10           6.0               0
20                 30.15               10           6.0               0
21                 30.21                9           NaN            0.01
22                 29.77                1          16.0            2.31
23                 29.92                8           6.0               T
24                 30.25               10           3.0               0
25                 30.03               10           7.0               0
26                 30.03               10           7.0               T
27                 29.90               10           5.0               0
28                 29.58               10           8.0               0
29                 30.01               10           7.0               0
30                 29.90               10           5.0               0

    CloudCover    Events  WindDirDegrees
0            5       NaN             281
1            3       NaN             275
2            1       NaN             277
3            3       NaN             345
4            0       NaN             333
5            0       NaN             259
6            3       NaN             293
7            8       NaN              79
8            8      Rain              76
9            7      Rain             109
10           1       NaN             289
11           4       NaN             235
12           0       NaN             284
13           7       NaN             266
14           2       NaN             101
15           7      Rain             340
16           6  Fog-Snow             345
17           2      Snow             293
18           1       NaN             293
19           2       NaN             302
20           1       NaN             312
21           3      Snow              34
22           8  Fog-Snow              42
23           3      Snow             327
24           2       NaN             286
25           2       NaN             244
26           3      Rain             311
27           1       NaN             234
28           4       NaN             298
29           0       NaN             257
30           0       NaN             241  ]
                                        <!DOCTYPE html>
0     <html lang="en" data-color-mode="auto" data-li...
1                                                <head>
2                                <meta charset="utf-8">
3       <link rel="dns-prefetch" href="https://githu...
4       <link rel="dns-prefetch" href="https://avata...
...                                                 ...
1487                                  </clipboard-copy>
1488                                             </div>
1489                                        </template>
1490                                            </body>
1491                                            </html>

[1492 rows x 1 columns]

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 28: expected 1 fields, saw 478\nSkipping line 72: expected 1 fields, saw 2\nSkipping line 115: expected 1 fields, saw 2\nSkipping line 171: expected 1 fields, saw 3\nSkipping line 185: expected 1 fields, saw 6\nSkipping line 211: expected 1 fields, saw 4\nSkipping line 216: expected 1 fields, saw 4\nSkipping line 221: expected 1 fields, saw 4\nSkipping line 226: expected 1 fields, saw 4\nSkipping line 231: expected 1 fields, saw 4\nSkipping line 236: expected 1 fields, saw 4\nSkipping line 241: expected 1 fields, saw 4\nSkipping line 246: expected 1 fields, saw 4\nSkipping line 251: expected 1 fields, saw 4\nSkipping line 256: expected 1 fields, saw 4\nSkipping line 262: expected 1 fields, saw 4\nSkipping line 267: expected 1 fields, saw 4\nSkipping line 272: expected 1 fields, saw 4\nSkipping line 283: expected 1 fields, saw 3\nSkipping line 287: expected 1 fields, saw 3\nSkipping line 295: expected 1 fields, saw 4\nSkipping line 300: expected 1 fields, saw 4\nSkipping line 307: expected 1 fields, saw 4\nSkipping line 312: expected 1 fields, saw 4\nSkipping line 317: expected 1 fields, saw 4\nSkipping line 322: expected 1 fields, saw 4\nSkipping line 327: expected 1 fields, saw 4\nSkipping line 332: expected 1 fields, saw 4\nSkipping line 339: expected 1 fields, saw 4\nSkipping line 344: expected 1 fields, saw 4\nSkipping line 349: expected 1 fields, saw 4\nSkipping line 354: expected 1 fields, saw 4\nSkipping line 359: expected 1 fields, saw 4\nSkipping line 370: expected 1 fields, saw 3\nSkipping line 378: expected 1 fields, saw 4\nSkipping line 383: expected 1 fields, saw 4\nSkipping line 388: expected 1 fields, saw 4\nSkipping line 393: expected 1 fields, saw 4\nSkipping line 398: expected 1 fields, saw 4\nSkipping line 423: expected 1 fields, saw 2\nSkipping line 622: expected 1 fields, saw 6\nSkipping line 623: expected 1 fields, saw 3\nSkipping line 630: expected 1 fields, saw 6\nSkipping line 631: expected 1 fields, saw 3\nSkipping line 725: expected 1 fields, saw 6\nSkipping line 734: expected 1 fields, saw 6\nSkipping line 737: expected 1 fields, saw 2\nSkipping line 744: expected 1 fields, saw 6\nSkipping line 748: expected 1 fields, saw 2\nSkipping line 772: expected 1 fields, saw 3\nSkipping line 784: expected 1 fields, saw 3\nSkipping line 796: expected 1 fields, saw 3\nSkipping line 808: expected 1 fields, saw 3\nSkipping line 820: expected 1 fields, saw 3\nSkipping line 832: expected 1 fields, saw 3\nSkipping line 844: expected 1 fields, saw 3\nSkipping line 855: expected 1 fields, saw 3\nSkipping line 1107: expected 1 fields, saw 7\nSkipping line 1149: expected 1 fields, saw 2\nSkipping line 1182: expected 1 fields, saw 2\nSkipping line 1277: expected 1 fields, saw 6\nSkipping line 1287: expected 1 fields, saw 2\nSkipping line 1317: expected 1 fields, saw 6\nSkipping line 1327: expected 1 fields, saw 2\nSkipping line 1329: expected 1 fields, saw 2\nSkipping line 1371: expected 1 fields, saw 2\nSkipping line 1888: expected 1 fields, saw 2\nSkipping line 1896: expected 1 fields, saw 3\nSkipping line 1897: expected 1 fields, saw 3\nSkipping line 1898: expected 1 fields, saw 3\nSkipping line 1899: expected 1 fields, saw 3\nSkipping line 1900: expected 1 fields, saw 3\nSkipping line 1901: expected 1 fields, saw 3\nSkipping line 1902: expected 1 fields, saw 3\nSkipping line 1903: expected 1 fields, saw 3\nSkipping line 1904: expected 1 fields, saw 3\nSkipping line 1905: expected 1 fields, saw 3\nSkipping line 1906: expected 1 fields, saw 3\n'